/* styles/Calendar.css */

.FullCalendar {
  width: 100%;
  height: 100%;
}

.FullCalendar .fc-daygrid-event {
  background-color: lightblue;
  border-color: blue;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.FullCalendar .fc-daygrid-event:hover {
  background-color: blue;
  color: white;
}

.FullCalendar .fc-daygrid-day {
  position: relative;
}

.FullCalendar .fc-daygrid-day-number {
  position: absolute;
  top: 5px;
  right: 5px;
}