.create-task {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9
}

.create-task h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
}

.create-task form {
    display: flex;
    flex-direction: column;
}

.create-task label {
    margin-bottom: 10px;
}

.create-task input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-task button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.create-task button[type="reset"] {
    margin-left: 10px;
    background-color: #dc3545;
}

.create-task button[type="submit"]:hover,
.create-task button[type="reset"]:hover {
    background-color: #0056b3;
}
