.navbar {
    background: #ddd;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 10px;
    padding: none;
}

.navbar .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.navbar .main li {
    list-style: none;
    margin: 0 10px;
}

.navbar .main li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}

.navbar .main li a:hover {
    color: #007bff; /* Change color on hover */
}

.navbar .main li a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the line underneath */
    left: 0;
    width: 100%;
    height: 2px; /* Height of the line */
    background-color: #007bff; /* Color of the line */
    transform: scaleX(0); /* Initially set the line width to 0 */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.navbar .main li a:hover::after {
    transform: scaleX(1); /* Expand the line to full width on hover */
}
.navbar .user li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}

.navbar .user {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.navbar .user li {
    list-style: none;
    margin: 0 10px;
}

.navbar .user li a:hover {
    color: #007bff; /* Change color on hover */
}

.navbar .user li a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the line underneath */
    left: 0;
    width: 100%;
    height: 2px; /* Height of the line */
    background-color: #007bff; /* Color of the line */
    transform: scaleX(0); /* Initially set the line width to 0 */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.navbar .user li a:hover::after {
    transform: scaleX(1); /* Expand the line to full width on hover */
}
